#macros file

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  oops
  g28 X Y
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro M300]
gcode:
  {% set S = params.S|default(1000)|int %}   #use a default 1kHz tone if S is omitted
  {% set P = params.P|default(100)|int %} #use a 10ms duration if P is omitted
      SET_PIN PIN=_beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
  G4 P{P}
      SET_PIN PIN=_beeper VALUE=0

[gcode_macro OKSound]
gcode:
    M300 s2000 p750
    M300 s2250 p500
    M300 s2500 p250

[gcode_macro Oops]
gcode:
   m300 s2500 p250
   M300 s2250 p500
   M300 s2000 p750

[gcode_macro SoundOff]
gcode:
   m300 s2500 p250
   M300 s0 p500
   m300 s2500 p250

[gcode_macro t0]
description: Deal with unwanted T0
gcode:
 
[gcode_macro Filament_Unload]
description: Unload Filament for colour Change
gcode:
    g0 x200 F12000
    g0 y354 F12000  ; Go to purge area
    G1 E-80 F480    ; Retract 80mm
    M300 S4000 P1000

[gcode_macro Filament_load]
description: Unload Filament for colour Change
gcode:
    g0 x200 F12000
    g0 y354 F12000  ; Go to purge area
    G1 E50 F480    ; Retract 50mm 
    M300 S4000 P1000

[gcode_macro Wake]
gcode:
    G28   ; Home All
    QUAD_GANTRY_LEVEL
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=180
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=110
    g0 z25
    G0 x220 y355 F12000
    g0 z-1 
    g0 x280
    g0 x220
    g0 x280
    g0 x220
    g0 z25
    g0 y350 x350 f12000
    G28

[gcode_macro Wipe]
gcode:
    g0 z25
    G0 x220 y355 F12000
    g0 z-3 
    g0 x280
    g0 x220
    g0 x280
    g0 x220
    g0 z25
      

[gcode_macro Prime]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=245     ; Set Temp
    M83                                                   ; Extrude relative mode
    G1 E-1 F300                                           ; Retract 1mm
    G0 y200 F12000                                        ; Wipe Moves Speed at 200mm/s
    g0 x30
    g0 y355 Z10
    G1 E60 F300   
    g0 z-1 
    g0 x150 F12000
    g0 x30 F12000
    g0 x150 F12000
    g0 x30 F12000
    g0 z25 F12000
    G1 E-0.5 F300                                           ; Retract 

[gcode_macro Preheat]    
gcode:
    LightsOn
    G28                                             ; Wake up motion systems and where is Z?
    STATUS_BUSY                                     ; Tell 'em i'm busy thinking!
    SET_FAN_SPEED FAN=air_filter SPEED=1             ; Fire up air_filter while we get the chamber warm
    M140 S110                                       ; SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=110
    m109 s180                                       ; SET_HEATER_TEMPERATURE HEATER=extruder TARGET=180 
    WIPE                                            ; Clean the Nozzle
    QUAD_GANTRY_LEVEL                               ; Lets level up
    G0 x200 y355 z25 F12000                         ; go to purge
    M109 S245                                       ; SET_HEATER_TEMPERATURE HEATER=extruder TARGET=245
    G92 E0                                          ; Reset Extruder
    G1 E60 F300                                     ; Retract 30mm filament speed 300  ; prime
    G92 E0                                          ; Reset Extruder
    G1 E-1 F300                                     ; Retract 1mm filament speed 300   ; stop ooze
    G92 E0                                          ; Reset Extruder
    WIPE                                            ; Wipe
    WIPE                                            ; Wipe
    #G0 x230 y350 f12000.                            ; Move off Brush
    G28                                             ; Final Home - where is proper Z
    Status_Ready

[gcode_macro Print_Start]    
gcode:
    LightsOn
    OKSound                                         ; Sound - Yep I am here
    G28                                             ; Wake up motion systems and where is Z?
    STATUS_BUSY                                     ; Tell 'em i'm busy thinking!
    SET_FAN_SPEED FAN=air_filter SPEED=1             ; Fire up air_filter while we get the chamber warm
    M140 S110                                       ; SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=110
    m109 s180                                       ; SET_HEATER_TEMPERATURE HEATER=extruder TARGET=180 
    WIPE                                            ; Clean the Nozzle
    QUAD_GANTRY_LEVEL                               ; Lets level up
    G0 x200 y355 z25 F12000                         ; go to purge
    M109 S245                                       ; SET_HEATER_TEMPERATURE HEATER=extruder TARGET=245
    G92 E0                                          ; Reset Extruder
    G1 E60 F300                                     ; Retract 30mm filament speed 300  ; prime
    G92 E0                                          ; Reset Extruder
    G1 E-1 F300                                     ; Retract 1mm filament speed 300   ; stop ooze
    G92 E0                                          ; Reset Extruder
    WIPE                                            ; Wipe
    WIPE                                            ; Wipe
    #G0 x230 y350 f12000.                            ; Move off Brush
    G28                                             ; Final Home - where is proper Z
    SET_FAN_SPEED FAN=air_filter SPEED=0.6           ; air_filter to print speed
    OKSound                                         ; Sound - Yep - Well here goes nothing !
    STATUS_PRINTING                                 ; Nozzles to White and Logo LED to Green
   
[gcode_macro Print_End]    
gcode:
   
    G92 E0 ; set extruder value back to 0
    G1 E-1 F480
    G28 X Y
    G1 E-30 F300 ;retract 30mm filament speed 300
    G92 E0 ; set extruder value back to 0
    SET_FAN_SPEED FAN=air_filter SPEED=0.0            ; air_filter off
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=10 ; Bed off
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=10  ; Hotend off
    Lightsoff ; Turn off Lights
    Soundoff
 

[gcode_macro M600]
gcode:
    {% set X = params.X|default(30)|float %}
    {% set Y = params.Y|default(354)|float %}
    {% set Z = params.Z|default(0)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G0 X{X} Y{Y} F12000
    G91
    G1 E-50 F1000
    G92 E0                                          ; Reset Extruder
    RESTORE_GCODE_STATE NAME=M600_state


;[gcode_macro PID_Hotend]    
;    gcode:
;    PID_CALIBRATE HEATER=extruder TARGET=200

;[gcode_macro PID_Bed]    
;    gcode:
;    PID_CALIBRATE HEATER=heater_bed TARGET=60


[gcode_macro Head_Service]
gcode:
    g0 y175 f12000
    g0 x175 y0 z150 f12000

[gcode_macro SystemCoolingOn]
gcode:
    SET_FAN_SPEED FAN=_Drivers SPEED=1
    SET_FAN_SPEED FAN=Pi SPEED=1

[gcode_macro SystemCoolingOff]
gcode:
    SET_FAN_SPEED FAN=_Drivers SPEED=0
    SET_FAN_SPEED FAN=Pi SPEED=.5

[gcode_macro LightsOn]
gcode:
    SET_FAN_SPEED FAN=_LED SPEED=1

[gcode_macro LightsOff]
gcode:
    SET_FAN_SPEED FAN=_LED SPEED=0


[gcode_macro MotionTest200]
gcode:
   g28
   g0 x10 y10 f12000
   g0 x10 y350
   g0 x350 y350
   g0 x350 y10
   g0 x10 y350
   g0 x350 y350
   g0 x10 y10
   g0 x10 y350
   g0 x350 y350
   g0 x350 y10
   g0 x10 y350
   g0 x350 y350
   g0 x10 y10
   g0 x10 y350
   g0 x350 y350
   g0 x350 y10
   g0 x10 y350

[gcode_macro MotionTest300]
gcode:
   g28
   g0 x10 y10 f18000
   g0 x10 y350
   g0 x350 y350
   g0 x350 y10
   g0 x10 y350
   g0 x350 y350
   g0 x10 y10
   g0 x10 y350
   g0 x350 y350
   g0 x350 y10
   g0 x10 y350
   g0 x350 y350
   g0 x10 y10
   g0 x10 y350
   g0 x350 y350
   g0 x350 y10
   g0 x10 y350

[gcode_macro MotionTest400]
gcode:
   g28
   g0 x10 y10 f24000
   g0 x10 y350
   g0 x350 y350
   g0 x350 y10
   g0 x10 y350
   g0 x350 y350
   g0 x10 y10
   g0 x10 y350
   g0 x350 y350
   g0 x350 y10
   g0 x10 y350
   g0 x350 y350
   g0 x10 y10
   g0 x10 y350
   g0 x350 y350
   g0 x350 y10
    
    
